/*body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/background.jpeg'); 
  background-size: cover;
  opacity: 2.0; /* Adjust the opacity as needed (0.5 for 50% opacity) */
  /* z-index: -1; */
/* } */

body  {  
  background-image: url(/images/background.jpeg);
  width: 100%;
  height: 400px;
  /* margin-right: 35px; */
  padding: 0%;
  background-position: 0px 0px;
  background-repeat: repeat-x;

  -webkit-animation: animatedBackground 10s ease-in-out infinite;
  -moz-animation: animatedBackground 10s ease-in-out infinite;
  animation: animatedBackground 10s ease-in-out infinite;
}

@-webkit-keyframes animatedBackground {
 from { background-position: 0 0; }
 to { background-position: 100% 0; }
}

@-moz-keyframes animatedBackground {
 from { background-position: 0 0; }
 to { background-position: 100% 0; }
}

@keyframes animatedBackground {
 from { background-position: 0 0; }
 to { background-position: 100% 0; }
}

#attackButton {
    padding: 10px 20px; /* Add padding around the button text */
    margin: 10px; /* Add margin around the button */
    border: 2px solid #333; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    line-height: 2; /* Vertically center the text */
    box-shadow: 3px 3px 5px chartreuse; /* Add a shadow */
    color: chartreuse;
    font-weight: bold;
    background-color: #050000;
  }

  #attackButton:disabled {
    padding: 10px 20px; /* Add padding around the button text */
    margin: 10px; /* Add margin around the button */
    background-color: chartreuse; 
    border: 2px solid #333; /* Change the border color to gray */
    border-radius: 5px;
    color: #060000; /* Change the text color to light gray */
    box-shadow: none; /* Remove any box shadow */
    cursor: not-allowed; /* Change the cursor to not-allowed */
}

#retreatButton {
  padding: 10px 20px; /* Add padding around the button text */
  margin: 10px; /* Add margin around the button */
  border: 2px solid #333; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  line-height: 2; /* Vertically center the text */
  box-shadow: 3px 3px 5px chartreuse; /* Add a shadow */
  color: chartreuse;
  font-weight: bold;
  background-color: #050000;
}

#retreatButton:disabled {
  padding: 10px 20px; /* Add padding around the button text */
  margin: 10px; /* Add margin around the button */
  background-color: chartreuse; 
  border: 2px solid #333; /* Change the border color to gray */
  border-radius: 5px;
  color: #060000; /* Change the text color to light gray */
  box-shadow: none; /* Remove any box shadow */
  cursor: not-allowed; /* Change the cursor to not-allowed */
}

  #restartButton {
    padding: 10px 20px; /* Add padding around the button text */
    margin: 10px; /* Add margin around the button */
    border: 2px solid #333; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    line-height: 2; /* Vertically center the text */
    box-shadow: 3px 3px 5px chartreuse; 
    color: chartreuse;
    font-weight: bold;
    background-color: #050000;
  }
  #restartButton:disabled {
    padding: 10px 20px; /* Add padding around the button text */
    margin: 10px; /* Add margin around the button */
    background-color: chartreuse; 
    border: 2px solid #333; /* Change the border color to gray */
    border-radius: 5px;
    color: #060000; /* Change the text color to light gray */
    box-shadow: none; /* Remove any box shadow */
    cursor: not-allowed; /* Change the cursor to not-allowed */
}

  #nextRoundButton{
    padding: 10px 20px; /* Add padding around the button text */
    margin: 10px; /* Add margin around the button */
    border: 2px solid #333; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    line-height: 2; 
    box-shadow: 3px 3px 5px chartreuse; 
    color: chartreuse;
    font-weight: bold;
    background-color: #050000;
    margin-bottom: 15px;
  }
  #nextRoundButton:disabled {
    padding: 10px 20px; 
    margin: 10px; 
    background-color: chartreuse; 
    border: 2px solid #333; 
    border-radius: 5px;
    color: #060000; 
    box-shadow: none; 
    cursor: not-allowed; 
}
.screen2{
  margin: 20px;
  display: flex;
  min-height: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
  /* flex-direction: row; */
  justify-content: space-between;
}

.spaceship1 {
    width: 150px;
    height: 150px;
    background: url('images/spaceship1.png') no-repeat center center;
    background-size: cover;
    position: relative;
}
.alienShip1 {
  width: 100px;
  height: 100px;
  background: url('images/alienship1.png') no-repeat center center;
  background-size: cover;
  position: relative;
}


.exitScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PromptScreen {
  margin-top: 15%;
  margin-bottom: 30%;
  margin-left: 35%;
  margin-right: 35%;
  background-image: url(images/prom.jpeg);
  background-size : cover ;
  border: 1px solid #0c0c0c;
  box-shadow: 3px 3px 5px chartreuse; 
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}


#confirmYesButton {
  padding: 10px 20px; /* Add padding around the button text */
  margin: 10px; /* Add margin around the button */
  border: 2px solid #333; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  line-height: 2; 
  box-shadow: 3px 3px 5px chartreuse; 
  color: chartreuse;
  font-weight: bold;
  background-color: #050000;
  margin-bottom: 15px;
}

#confirmNoButton {
  padding: 10px 20px; /* Add padding around the button text */
  margin: 10px; /* Add margin around the button */
  border: 2px solid #333; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  line-height: 2; 
  box-shadow: 3px 3px 5px chartreuse; 
  color: chartreuse;
  font-weight: bold;
  background-color: #050000;
  margin-bottom: 15px;
}

.lasershoot1 {
  width: 30px;
  height: 10px;
  position: absolute;
  background-color:chartreuse;
  margin-left: 12%;
  margin-top: 5%;
  }
  .lasershoot2 {
    width: 35px;
    height: 10px;
    position: absolute;
    background-color:aqua;
    margin-left: 82%;
    margin-top: 60px;
    }
  .screen1 {
    margin: 40px;
    display: flex;
    height: 20%;
    justify-content: space-between;
  }
  h1{
    color: chartreuse;
    text-align: center;
    align-self: center;
    box-shadow: 2px 2px 5px  chartreuse; 
    text-shadow: 2px 2px 5px oldlace;
  }
  .ship-info{
    color: chartreuse;
    justify-content: space-between;
  }
  .screen3 {
    display: flex;
    padding: 0%;
    height: 10%;
    margin-bottom: 40px;
    justify-items: center;
  }

  p {
    text-align: center;
    font-weight: bold;
    color: chartreuse; 
  }

  h2 {
    text-shadow: 2px 2px 5px oldlace;
  }
  .showInscreen {
    min-height: 10%;
    margin-top: 15px;
    text-align: center;
  }

  @keyframes explosion {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  